/* common classes */
.divHeight{
	height:100%;
}

.mainTextColor {
	color: white;
}


#main{
	background-image: url("../image/header.jpg");
	background-size: cover;

}
#main .container-fluid{
	padding: 0px;
}
#main .navbar{
	border-radius: 0px;
}

#main h3 {
	font-style: italic;
	font-size: 3em;
}
#main h1 {
	font-size: 5em;
	font-weight: 700;
}
#main .btn {
	border-radius: 0;
	padding: 20px;
}
#main .content{
	padding: 50px 0;
}


#services {
}

#services .mainColor{
background-color: white;
}
#services h1 {
	text-transform: uppercase;
	font-weight: 700;
}
#services i{
	color: white;
	background-color: #FED136;
	border-radius: 100%;
	padding:30px;
}

#services h6 {
	padding: 20px 0;
	font-style: italic;

}
#services .content {
	padding: 50px 0;
}



#portfolio {
	
}
#portfolio .mainColor{
	background-color: lightgray;
}

#portfolio .content {
	padding: 50px 0;
}

#portfolio h1 {
	text-transform: uppercase;
	font-weight: 700;
}

#portfolio h6 {
	padding: 20px 0;
	font-style: italic;
}


#about{
	height: 1000px;
}
#about .mainColor{
	background-color: yellow;
}
#team{
	height: 800px;
}
#team .mainColor{
	background-color: red;
}
#contact{
	height: 500px;
}
#contact .mainColor{
	background-color: gray;
}